<ng-container *transloco="let t; prefix: 'jet-app'">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/">Home</a>
        <a mat-list-item routerLink="/search">Search</a>
        <a mat-list-item routerLink="/fare-calculator">Fare Calculator</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/profile">Profile</a>
        <a mat-list-item routerLink="/report">Report</a>
        <a mat-list-item routerLink="/report-history">Report History</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        @if (isHandset$ | async) {
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
          >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        }
        <span>Ottometer</span>
        <div style="flex: 1"></div>
        @if (!user()) {
          <div style="display: inline-flex; gap: 8px">
            <a routerLink="/login" mat-button>{{ t("login") }}</a>
            <a routerLink="/register" mat-button>{{ t("register") }}</a>
          </div>
        } @else {
          <a routerLink="/logout" mat-button>{{ t("logout") }}</a>
        }
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
