<ng-container *transloco="let t; prefix: 'jet-home-page'">
  <jet-page>
    <mat-card
      style="
        background-color: rgba(0, 0, 0, 0.5);
        position: relative;
        overflow: hidden;
      "
    >
      <img
        priority
        ngSrc="./hero.webp"
        fill
        [alt]="t('hero')"
        style="object-fit: cover; object-position: center bottom; z-index: -1"
      />
      <div style="color: white; text-align: center; padding: 128px 0">
        <h1 style="font-size: 48px; line-height: 64px; font-weight: 300">
          {{ t("hero-title") }}
        </h1>
        <h2 style="font-size: 32px; line-height: 32px; font-weight: 300">
          {{ t("hero-subtitle") }}
        </h2>
        <div
          style="
            margin-top: 64px;
            display: flex;
            gap: 8px;
            justify-content: center;
          "
        >
          <a
            mat-flat-button
            routerLink="/report/incorrect-meter"
            color="warn"
            >{{ t("report-incorrect-meter") }}</a
          >
          <a
            mat-flat-button
            routerLink="/report/correct-meter"
            color="primary"
            >{{ t("report-correct-meter") }}</a
          >
        </div>
      </div>
    </mat-card>

    <br />

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ t("top-reporters") }}</mat-card-title>
        <mat-card-subtitle>{{ t("updated-daily") }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="topReporters">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ t("auto-plate") }}</th>
            <td mat-cell *matCellDef="let user">
              <img
                [ngSrc]="user.reporter_avatar_url"
                [alt]="user.reporter_username"
                height="32"
                width="32"
              />
              <span>{{ user.reporter_username }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="upvotes_count">
            <th mat-header-cell *matHeaderCellDef>
              {{ t("user-correct-count") }}
            </th>
            <td mat-cell *matCellDef="let user">
              {{ user.meter_correct_reports_count }}
            </td>
          </ng-container>

          <ng-container matColumnDef="downvotes_count">
            <th mat-header-cell *matHeaderCellDef>
              {{ t("user-incorrect-count") }}
            </th>
            <td mat-cell *matCellDef="let user">
              {{ user.meter_incorrect_reports_count }}
            </td>
          </ng-container>

          <ng-container matColumnDef="total_count">
            <th mat-header-cell *matHeaderCellDef>
              {{ t("user-total-count") }}
            </th>
            <td mat-cell *matCellDef="let user">
              {{ user.total_reports_count }}
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="[
              'name',
              'upvotes_count',
              'downvotes_count',
              'total_count',
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let myRowData;
              columns: [
                'name',
                'upvotes_count',
                'downvotes_count',
                'total_count',
              ]
            "
          ></tr>
        </table>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar
          mode="indeterminate"
          [ngStyle]="{
            visibility: isGetTopUnfairAutosPending ? 'visible' : 'hidden',
          }"
        ></mat-progress-bar>
      </mat-card-footer>
    </mat-card>

    <br />

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ t("top-autos-incorrect-meters") }}</mat-card-title>
        <mat-card-subtitle>{{ t("updated-daily") }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="topUnfairAutos">
          <ng-container matColumnDef="plate">
            <th mat-header-cell *matHeaderCellDef>{{ t("auto-plate") }}</th>
            <td mat-cell *matCellDef="let auto">
              {{ auto.auto_plate_state_code }}-{{
                auto.auto_plate_district_code
              }}-{{ auto.auto_plate_series_code }}-{{
                auto.auto_plate_vehicle_number
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="upvotes_count">
            <th mat-header-cell *matHeaderCellDef>
              {{ t("auto-correct-count") }}
            </th>
            <td mat-cell *matCellDef="let auto">
              {{ auto.meter_correct_reports_count }}
            </td>
          </ng-container>

          <ng-container matColumnDef="downvotes_count">
            <th mat-header-cell *matHeaderCellDef>
              {{ t("auto-incorrect-count") }}
            </th>
            <td mat-cell *matCellDef="let auto">
              {{ auto.meter_incorrect_reports_count }}
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="['plate', 'upvotes_count', 'downvotes_count']"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let myRowData;
              columns: ['plate', 'upvotes_count', 'downvotes_count']
            "
          ></tr>
        </table>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar
          mode="indeterminate"
          [ngStyle]="{
            visibility: isGetTopUnfairAutosPending ? 'visible' : 'hidden',
          }"
        ></mat-progress-bar>
      </mat-card-footer>
    </mat-card>

    <br />

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ t("top-autos-correct-meters") }}</mat-card-title>
        <mat-card-subtitle>{{ t("updated-daily") }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="topFairAutos">
          <ng-container matColumnDef="plate">
            <th mat-header-cell *matHeaderCellDef>{{ t("auto-plate") }}</th>
            <td mat-cell *matCellDef="let auto">
              {{ auto.auto_plate_state_code }}-{{
                auto.auto_plate_district_code
              }}-{{ auto.auto_plate_series_code }}-{{
                auto.auto_plate_vehicle_number
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="upvotes_count">
            <th mat-header-cell *matHeaderCellDef>
              {{ t("auto-correct-count") }}
            </th>
            <td mat-cell *matCellDef="let auto">
              {{ auto.meter_correct_reports_count }}
            </td>
          </ng-container>

          <ng-container matColumnDef="downvotes_count">
            <th mat-header-cell *matHeaderCellDef>
              {{ t("auto-incorrect-count") }}
            </th>
            <td mat-cell *matCellDef="let auto">
              {{ auto.meter_incorrect_reports_count }}
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="['plate', 'upvotes_count', 'downvotes_count']"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let myRowData;
              columns: ['plate', 'upvotes_count', 'downvotes_count']
            "
          ></tr>
        </table>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar
          mode="indeterminate"
          [ngStyle]="{
            visibility: isGetTopFairAutosPending ? 'visible' : 'hidden',
          }"
        ></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </jet-page>
</ng-container>
