<ng-container *transloco="let t; prefix: 'jet-reset-password-page'">
  <jet-page>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ t("reset-password") }}</mat-card-title>
        <mat-card-subtitle>{{ t("reset-password-below") }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <br />
        <form
          id="reset-password-form"
          [formGroup]="resetPasswordFormGroup"
          (ngSubmit)="
            resetPassword(resetPasswordFormGroup.controls.email.value ?? '')
          "
        >
          <mat-form-field appearance="outline">
            <mat-label>{{ t("email") }}</mat-label>
            <input formControlName="email" matInput required type="email" />
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions style="gap: 8px">
        <button
          [disabled]="resetPasswordFormGroup.invalid || isResetPasswordPending"
          mat-flat-button
          type="submit"
          form="reset-password-form"
        >
          {{ t("send-email") }}
        </button>
        <a mat-stroked-button color="primary" routerLink="/login">{{
          t("login")
        }}</a>
        <a mat-stroked-button color="primary" routerLink="/register">{{
          t("register")
        }}</a>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar
          mode="indeterminate"
          [ngStyle]="{
            visibility: isResetPasswordPending ? 'visible' : 'hidden',
          }"
        ></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </jet-page>
</ng-container>
